.card-wrapper {
  margin: 0 auto;

  .card-content {
  	background-color: white;
    float: left;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);

    .card-image img {
    	border-radius: 10px 10px 0px 0px;
    	width: 100%;
    } 

    .card-detail {
    	padding: 10px;
    }

    .card-link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
